#navbar{
    background-color:#000;
    margin:0;
    position: fixed;
    top:0px;
    width:100vw;
    color:white;
    box-sizing: border-box;
}

.icon{
    display: none;
}

.transform{
    transform: rotate(90deg);
}

.menu-dropdown{
    text-align: right;
}

.menu-dropdown a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color:white;
}

.menu-dropdown a:hover{
    color:black;
    background-color: white;
}

.menu-dropdown-items{
    margin: 0.5rem 0.2rem;
}

.row{
    display: flex ;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    flex-direction: row !important;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}


ul{
    list-style:none;
    display: flex;
    justify-content:flex-end;   
    font-size:20px;
    margin: 0;   
}

li{
    padding: 1rem;
    color:#fff;
}

a li{
    text-decoration:none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border:1px solid black; */
}

a:hover > li {
    background-color:#fff;
    color: #000;
}

#name{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#name a{
    /* vertical-align: middle; */
    font-family: 'Caveat', cursive !important;
    color: #fff;
}

#name a:hover{
    color:#424874;
}

@media (max-width:700px){
    .row{
        display: block;
    }
    .list{
        display:none;
    }
    .icon{
        position: fixed;
        top:10px;
        right: 20px;
        display: block;
    }
}