#navbar{
    background-color:#000;
    margin:0;
    position: fixed;
    top:0px;
    width:100vw;
    box-sizing: border-box;
}

.row{
    display: flex ;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    flex-direction: row !important;
    justify-content: space-between;
}


ul{
    list-style:none;
    display: flex;
    justify-content:flex-end;   
    font-size:20px;
    margin: 0;   
}

li{
    padding: 1rem;
    color:#fff;
}

a li{
    text-decoration:none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border:1px solid black; */
}

a:hover > li {
    background-color:#fff;
    color: #000;
}

#name{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#name a{
    /* vertical-align: middle; */
    font-family: 'Caveat', cursive !important;
    color: #fff;
}

#name a:hover{
    color:#424874;
}

@media (max-width:500px)
{
    .row{
        text-align: center;
        width: 95%;
    }
    ul{
        padding: 0;
        justify-content:space-around;
        font-size: 1rem;
    }
    #name{
        font-size: 0.9rem;
        padding: 0.25rem 0 0 0;
    }
    li{
        padding: 0.5rem 0.8rem;
        font-size: 0.5rem;
    }

} 