@import 'nav-bar.css' ;
@import 'welcome-section.css';
@import 'projects-section.css';
@import 'contact-me.css';

body{
    background-color:#262626;
    color:white;
    margin: 0px;
}

#container{
    width:90%;
    max-width: 1500px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}
